* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
  color: #5f574e;
  text-align: left;
  border-collapse: collapse;
}

body {
  padding: 2.5rem;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 500;
}

h1 {
  color: #302d2c;
}

h2 {
  color: #8e513e;
  font-size: 1.25rem;
}

.prep-time {
  color: #762b49;
  font-family: outfit, sans-serif;
}

.prep-time-list-section li::marker {
  color: #7b284f;
}

li::marker {
  color: #854632;
}

#ingredients + ul {
  list-style-type: square;
}

ul,
ol {
  padding-left: 1.2rem;
}

li {
  padding: 0.5rem 0;
}

ol p,
.prep-time-list-heading {
  display: inline;
}

ul li::marker {
  font-size: 0.7rem;
}

p {
  display: inline;
}

li {
  padding-left: 1.25rem;
}

ol li::marker,
.step,
.cal-count,
.prep-time-list-heading {
  font-weight: 600;
}

hr {
  margin: 2rem 0;
}

.nutrition-hr {
  margin: 1rem 0;
}

.cal-count {
  /* padding-left: 15rem; */
  padding-left: 17vw;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 1rem 0;
  border-bottom: 1px solid #5f574e;
}

tr td:first-child {
  padding-left: 2.22vw;
}

.cal-count {
  color: #854632;
}

a {
  color: #4a0b25;
}

h1,
p {
  margin: 2.3rem 0;
  display: block;
}

h2 {
  margin: 2rem 0;
}

.prep-time {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

.highlight {
  background-color: #fff5fa;
  padding: 2rem;
  border-collapse: collapse;
  border-radius: 10px;
}

@media (max-width: 375.99px) {
  body {
    padding: 0;
  }

  #content {
    padding: 0 2rem;
  }

  p,
  li,
  td,
  footer {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.9rem;
    margin: 2.5rem 0;
  }

  h2 {
    font-size: 1.25rem;
    margin: 2rem 0;
  }

  li {
    padding: 0.3rem 0;
  }

  p {
    margin: -0.7rem 0 1.9rem 0;
  }

  .highlight {
    padding: 1.5rem;
  }
}
